
* {
    margin: 0;
    padding: 0;
}
/* 
ol, ul {
    margin-left: 17px;
} */

body {
    font: 100% sans-serif;
    background-color: #fff;
    color: #666;
}

/* Header */

header {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center center;
    margin-bottom: 1em;
    text-align: center;
    height: 500px;
    position: relative;
    color: white;
    text-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

#title.selected {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#title h1 {
    font-size: 5em;
    margin-bottom: 15px;
}

header nav {
    position: absolute;
    top: 10px;
    right: 10px;
}

header nav a {
    padding: 0 10px;
}

.container {
    max-width: 50em;
    width: 92%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.center {
    text-align: center;
}


.row {
    clear: both;
    margin-right: -1%;
    margin-left:  -1%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.row h2 {
    font-size: 1.5em;
    float: left;
    width: 30%;
}

.row .list {
    text-align: left;
    float: right;
    width: 60%;
    /* transform: translateY(-10px); */
}

.row .list li {
    margin: 5px;
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

#contact.list {
    margin: 5px;
}

footer {
    margin-top:10px;
}

#expertise {
    margin-left: 17px;
}

#education {
    margin-left: 15px;
}

#table {
    border-collapse:separate; 
    border-spacing: 0 5px;
  }

#name {
    width: 30%;
}

#phone {
    width:20%;
}

#contact a {
    margin-right: 3px;
}

#contact div {
    margin-top: 5px;
}

input:invalid + span:after {
    content: '✖';
    color: #f00;
    padding-left: 5px;
}

input:valid + span:after {
    content: '✓';
    color: #26b72b;
    padding-left: 5px;
}

#box {
    background-color: orange;
    height: 50px;
    width: 0px;
    margin: 6px;
    float: left;
    transform: translateY(-5px);
}

#alertButton {
    width: 20%;
    float: left;
    transform: translateY(15px);
}

#imageMap {
    position: absolute;
    top: 0;
    right: -100px;
}

#a3 div{
    background-color: red;
    height: 50px;
    margin: 6px;
}